<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elshamelapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.About_App.AboutApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Product_details.MyProduct" />
        <activity android:name=".view.Product_details.SellersProduct" />
        <activity android:name=".view.Profile.SellersProfile" />
        <activity android:name=".view.Profile.MyProfile" />
        <activity android:name=".view.Upload_Product.UploodProduct" />
        <activity android:name=".view.contactUs.ContactUs" />
        <activity android:name=".view.Sign_up.SignUp" />
        <activity android:name=".view.Login.Login" />
        <activity android:name=".view.Regester.Regester" />
        <activity android:name=".view.Regester.Splash" />
        <activity android:name=".view.Main.MainActivity"></activity>
    </application>

</manifest>